/* Variables */
/* Maps */
/* Extends */
.main_contacto .section_contacto {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.main_contacto .section_contacto .form_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* Mixin */
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Quicksand', sans-serif; }

a {
  text-decoration: none; }

body {
  background: url(../img/cuartohacheback.jpg), linear-gradient(#F2EFC4, #F2561D, #0d0d0d);
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

@media only screen and (max-width: 576px) {
  body {
    background-position-y: 80px;
    background-size: 100%; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  body {
    background-position-y: 60px; } }

header {
  background-color: #0d0d0dd7; }
  header .navbar {
    max-height: 4rem; }
    header .navbar ul {
      list-style: none;
      gap: 20px; }
      header .navbar ul .linkNav {
        color: #F2EFC4;
        font-family: 'Quicksand', sans-serif;
        transition: all 0.3s ease 0s; }
        header .navbar ul .linkNav:hover {
          color: #F2561D; }
    header .navbar .redes {
      display: flex;
      gap: 50px; }
      header .navbar .redes i {
        color: #F2EFC4;
        font-size: 30px;
        transition: all 0.3s ease 0s; }
      header .navbar .redes #logoYoutube:hover {
        color: #c4302b; }
      header .navbar .redes #logoSpotify:hover {
        color: #1DB954; }
      header .navbar .redes #logoInstagram:hover {
        color: #E1306C; }
      header .navbar .redes #logoFacebook:hover {
        color: #4267B2; }

@media only screen and (max-width: 576px) {
  .navbar {
    max-height: initial !important; }
    .navbar .collapse:not(.show) {
      display: none; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .navbar {
    max-height: initial;
    width: 50%; }
    .navbar .collapse:not(.show) {
      display: none; }
    .navbar .imagen_logo {
      display: none; }
    .navbar .redes {
      margin-left: 4rem; } }

footer {
  background-color: #0d0d0dd7;
  font-family: 'Quicksand', sans-serif;
  color: #F2561D;
  line-height: 50px;
  display: flex;
  justify-content: center; }
  footer .textimp {
    font-weight: 600; }

@media only screen and (max-width: 576px) {
  footer {
    background-color: #0d0d0dd7;
    font-family: 'Quicksand', sans-serif;
    color: #F2561D;
    line-height: 30px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center; }
  .textimp {
    font-weight: 600; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  footer {
    background-color: #0d0d0dd7;
    font-family: 'Quicksand', sans-serif;
    color: #F2561D;
    line-height: 50px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center; }
  .textimp {
    font-weight: 600; } }

.sectionIndex {
  display: flex;
  justify-content: center; }
  .sectionIndex .div_video {
    margin-top: 300px;
    margin-bottom: 25px;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth); }
    .sectionIndex .div_video:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%; }

.news_title {
  display: flex;
  justify-content: center;
  margin: 3rem;
  transform: translate3d(0, 0, 0);
  backdrop-filter: saturate(180%) blur(40px);
  background-color: rgba(255, 255, 255, 0.096);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); }
  .news_title h2 {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    cursor: default; }

.section_news {
  height: 45rem; }
  .section_news .article_news {
    width: 100%;
    overflow: hidden; }
    .section_news .article_news :hover {
      cursor: pointer; }
    .section_news .article_news .card {
      height: 20rem; }
      .section_news .article_news .card img {
        max-height: 100%;
        object-fit: cover; }
      .section_news .article_news .card h5 {
        text-shadow: 0.1em 0.1em 0.2em black; }
      .section_news .article_news .card p {
        text-shadow: 0.1em 0.1em 0.2em black; }
  .section_news .article_news2 {
    width: 100%;
    overflow: hidden; }
    .section_news .article_news2 :hover {
      cursor: pointer; }
    .section_news .article_news2 .card {
      height: 20rem; }
      .section_news .article_news2 .card img {
        max-height: 100%;
        object-fit: cover; }
      .section_news .article_news2 .card h5 {
        text-shadow: 0.1em 0.1em 0.2em black; }
      .section_news .article_news2 .card p {
        text-shadow: 0.1em 0.1em 0.2em black; }

.modal-glass {
  transform: translate3d(0, 0, 0);
  backdrop-filter: saturate(180%) blur(40px);
  background-color: rgba(255, 255, 255, 0.096);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); }
  .modal-glass .modal-header {
    border: none; }
  .modal-glass .modal-body {
    width: 100%; }
    .modal-glass .modal-body .carousel {
      width: fit-content; }
    .modal-glass .modal-body iframe {
      background-color: whitesmoke; }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media only screen and (max-width: 576px) {
  .div_video {
    width: 95%; }
  .sectionIndex iframe {
    width: 100%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%; }
  .section_news {
    height: 35rem; }
    .section_news .article_news {
      width: 100%; }
      .section_news .article_news .card {
        height: fit-content; }
        .section_news .article_news .card .texto_ph {
          font-weight: bolder; }
    .section_news .article_news2 {
      width: 100%; }
      .section_news .article_news2 .card {
        height: fit-content;
        height: 14.5rem; }
        .section_news .article_news2 .card img {
          height: 14.5rem; }
        .section_news .article_news2 .card .texto_nota {
          font-weight: bolder;
          background: linear-gradient(90deg, #0d0d0dd7, rgba(0, 0, 0, 0)); } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .div_video {
    width: 75%; }
  .sectionIndex iframe {
    width: 100%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%; }
  .section_news .article_news .card {
    height: fit-content; }
    .section_news .article_news .card .texto_ph {
      font-weight: bolder; }
  .section_news .article_news2 {
    height: 20rem; }
    .section_news .article_news2 .card {
      height: fit-content; }
      .section_news .article_news2 .card img {
        height: 20rem; }
      .section_news .article_news2 .card .texto_nota {
        font-weight: bolder;
        background: linear-gradient(90deg, #0d0d0dd7, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); } }

.container {
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto; }
  .container .card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .container .card .border_card {
      height: 369px;
      width: 290px;
      background: transparent;
      border-radius: 10px;
      transition: border 1s;
      position: relative; }
      .container .card .border_card:hover {
        border: 1px solid white; }
      .container .card .border_card h2 {
        color: #F2EFC4;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.5rem;
        text-shadow: 0.1em 0.1em 0.2em black;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s;
        cursor: default; }
      .container .card .border_card .fa {
        opacity: 0;
        transition: opacity 1s;
        color: #F2EFC4;
        transition: all 1s ease 0s; }
        .container .card .border_card .fa:hover {
          text-shadow: 0.1em 0.1em 0.2em #F2EFC4; }
      .container .card .border_card .icons {
        position: absolute;
        fill: #F2EFC4;
        color: #F2EFC4;
        height: 130px;
        top: 226px;
        width: 50px;
        text-shadow: 0.1em 0.1em 0.2em black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
  .container .card0 {
    background: url(../img/raiel_insta.jpg) center center no-repeat;
    background-size: 300px; }
    .container .card0:hover {
      background: url(../img/raiel_insta.jpg) top right no-repeat;
      background-size: 500px; }
      .container .card0:hover h2 {
        opacity: 1; }
      .container .card0:hover .fa {
        opacity: 1; }
  .container .card1 {
    background: url(../img/paul_insta.jpg) center center no-repeat;
    background-size: 300px; }
    .container .card1:hover {
      background: url(../img/paul_insta.jpg) top right no-repeat;
      background-size: 500px; }
      .container .card1:hover h2 {
        opacity: 1; }
      .container .card1:hover .fa {
        opacity: 1; }

.bio_title {
  display: flex;
  justify-content: center;
  margin: 3rem;
  transform: translate3d(0, 0, 0);
  backdrop-filter: saturate(180%) blur(40px);
  background-color: rgba(255, 255, 255, 0.096);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); }
  .bio_title h2 {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    cursor: default; }

.section_bio .card {
  background: rgba(245, 245, 245, 0.932); }

@media only screen and (max-width: 576px) {
  .container {
    height: 100%;
    width: 80%;
    max-height: 80%;
    max-width: 80%;
    min-height: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 10%;
    gap: 5%; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .container {
    height: 100%;
    width: 80%;
    max-height: 80%;
    max-width: 80%;
    min-height: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    gap: 10%; }
  .section_bio .card .row .imagen_div img {
    height: 100%;
    object-fit: cover; } }

.coverSingles {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 10%; }
  .coverSingles .singles {
    width: 25%;
    transition: transform 0.3s; }
    .coverSingles .singles:hover {
      transform: scale(1.1, 1.1);
      z-index: 100;
      box-shadow: 0 70px 63px -60px #000000; }

.popover0 {
  background-color: #f946ff83;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 200;
  font-family: 'Quicksand', sans-serif; }
  .popover0 .popover-body {
    color: #F2EFC4;
    text-shadow: 0.1em 0.1em 0.2em black; }
  .popover0 .popover-arrow:after {
    border-top-color: #f946ff83; }

.popover1 {
  background-color: #04027491;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 200;
  font-family: 'Quicksand', sans-serif; }
  .popover1 .popover-body {
    color: #F2EFC4;
    text-shadow: 0.1em 0.1em 0.2em black; }
  .popover1 .popover-arrow:after {
    border-top-color: #04027491; }

.popover2 {
  background-color: #af690085;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 200;
  font-family: 'Quicksand', sans-serif; }
  .popover2 .popover-body {
    color: #F2EFC4;
    text-shadow: 0.1em 0.1em 0.2em black; }
  .popover2 .popover-arrow:after {
    border-top-color: #af690085; }

.popover3 {
  background-color: #00bb098f;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 200;
  font-family: 'Quicksand', sans-serif; }
  .popover3 .popover-body {
    color: #F2EFC4;
    text-shadow: 0.1em 0.1em 0.2em black; }
  .popover3 .popover-arrow:after {
    border-top-color: #00bb098f; }

@media only screen and (max-width: 576px) {
  .coverSingles {
    flex-direction: column;
    align-items: center; }
    .coverSingles .singles {
      width: 90%; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .coverSingles {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin-top: 15rem; }
    .coverSingles .singles {
      width: 50%;
      padding-bottom: 0%;
      padding-top: 0%;
      margin-top: 0rem; } }

.carousel {
  width: 50rem;
  margin-top: 2rem; }
  .carousel .carousel-inner img {
    margin: auto; }
  .carousel .carousel-inner .carousel-item img {
    height: 80vh;
    object-fit: cover; }

.titulo_prod {
  display: flex;
  justify-content: center;
  margin: 3rem;
  transform: translate3d(0, 0, 0);
  backdrop-filter: saturate(180%) blur(40px);
  background-color: rgba(255, 255, 255, 0.096);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03); }
  .titulo_prod h3 {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    cursor: default; }

.section_prod {
  margin-left: 3rem;
  margin-right: 3rem; }
  .section_prod .imagen_herix {
    object-fit: cover; }
  .section_prod .imagen_shaman {
    object-fit: cover; }

@media only screen and (max-width: 576px) {
  .section_studio {
    display: flex;
    justify-content: center; }
    .section_studio .carousel {
      width: 25rem; }
      .section_studio .carousel .carousel-inner .carousel-item img {
        height: 50vh;
        object-fit: cover; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .section_prod img {
    height: 100%;
    object-fit: cover;
    /* border: blue solid 5px; */ } }

.main_contacto {
  height: 35rem; }
  .main_contacto .section_contacto {
    align-items: center;
    height: 500px;
    margin-top: 4rem; }
    .main_contacto .section_contacto .form_contacto {
      background-color: #0d0d0dd7;
      color: #F2EFC4;
      height: 28rem;
      width: 35rem;
      padding: 1rem; }
      .main_contacto .section_contacto .form_contacto .form-control:focus {
        border-color: #F2561D;
        box-shadow: 0 0 0 0.2rem #f2561d5d; }
      .main_contacto .section_contacto .form_contacto textarea {
        width: 100%;
        height: 7rem; }

@media only screen and (max-width: 576px) {
  .main_contacto {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main_contacto .section_contacto {
      height: 30rem;
      margin-top: 7rem; }
      .main_contacto .section_contacto .form_contacto {
        height: auto; }
        .main_contacto .section_contacto .form_contacto textarea {
          height: 6rem; } }

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .main_contacto .section_contacto {
    margin-top: 5rem; } }
