*{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
}


/*CSS Header*/


header{
    background-color: #0d0d0dd7;
}

.navbar {
    max-height: 4rem;
}

@media only screen and (max-width: 576px){
    .navbar{
        max-height: initial;
    }
}

@media only screen and (min-width: 577px) and (max-width: 991px){
    .navbar{
        max-height: initial;
        width: 50%;
    }
    .imagen_logo {
        display: none;
    }
    .redes {
        margin-left: 4rem;
    }
}

ul{
    list-style: none;
    gap: 20px;
}

.linkNav {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.3s ease 0s;
}

.linkNav:hover {
    color: #F2561D;
}

a{
    text-decoration: none;
}

.redes {
    display: flex;
    gap: 50px;
}

.redes i {
    color: #F2EFC4;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}

#logoYoutube:hover {
    color: #c4302b;
}
#logoSpotify:hover {
    color: #1DB954;
}
#logoInstagram:hover {
    color: #E1306C;
}
#logoFacebook:hover {
    color: #4267B2;
}


/*CSS Body*/


body {
    background-image:url(./img/cuartohacheback.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}


/*CSS Index*/


.mainIndex {
    display: flex;
    justify-content: center;
}

.div_video {
    margin-top: 150px;
    margin-bottom: 150px;
}

.div_video {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.div_video:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*CSS Bio*/


.container {
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.border_card {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}
.border_card:hover {
    border: 1px solid white
}
.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card0 {
    background: url(./img/raiel_insta.jpg) center center no-repeat;
    background-size: 400px;
}
.card0:hover {
    background: url(./img/raiel_insta.jpg) top right no-repeat;
    background-size: 500px;
    }
.card0:hover h2 {
    opacity: 1;
}
.card0:hover .fa {
    opacity: 1;
}

.card1 {
    background: url(./img/paul_insta.jpg) center center no-repeat;
    background-size: 400px;
}
.card1:hover {
    background: url(./img/paul_insta.jpg) top left no-repeat;
    background-size: 500px;
}
.card1:hover h2 {
    opacity: 1;
}
.card1:hover .fa {
    opacity: 1;
}

.border_card h2 {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    cursor:default;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
    color: #F2EFC4;
    transition: all 1s ease 0s;
}

.fa:hover{
    text-shadow: 0.1em 0.1em 0.2em #F2EFC4;
}

.icons {
    position: absolute;
    fill: #F2EFC4;
    color: #F2EFC4;
    height: 130px;
    top: 226px;
    width: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/*CSS Singles*/


.coverSingles {
    display: flex;
    flex-direction:row;
    margin-top: 10%;
    margin-bottom: 10%;
}

.singles {
    width: 25%;
    transition: transform 0.3s;
}

.singles:hover {
    transform: scale(1.1,1.1);
    z-index: 100;
    box-shadow: 0 70px 63px -60px #000000;
}

.popover0 {
    background-color: #f946ff83;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em #F2EFC4;
}
.popover1 {
    background-color: #04027491;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em #F2EFC4;
}
.popover2 {
    background-color: #af690085;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em #F2EFC4;
}
.popover3 {
    background-color: #00bb098f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 200;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.1em #F2EFC4;
}

/*CSS Studio*/


.carousel {
    width: 50rem;
    margin-top: 2rem;
}

.carousel-inner img {
    margin: auto;
}

.carousel-inner .carousel-item img {
    height: 80vh;
    object-fit: cover;
}

@media only screen and (max-width:576px) {
    .section_studio {
        display: flex;
        justify-content: center;
    }
    .carousel {
        width: 25rem;
    }
    .carousel-inner .carousel-item img {
        height: 50vh;
        object-fit: cover;
    }
}

.titulo_prod {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.titulo_prod h3 {
    color:#F2EFC4;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-weight: 600
}

.section_prod {
    margin-left: 3rem;
    margin-right: 3rem;
}

.imagen_herix {
    object-fit: cover;
}

.imagen_shaman {
    object-fit: cover;
}


/*CSS Contacto*/


.main_contacto {
    height: 35rem;
}

.section_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px
}

.form_contacto {
    background-color:#0d0d0dd7;
    color: #F2EFC4;
    height: 28rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

textarea {
    width: 200px;
    height: 100px;
}


/*CSS Footer*/


footer {
    background-color: #0d0d0dd7;
    font-family: 'Quicksand', sans-serif;
    color: #F2561D;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
.textimp {
    font-weight: 600;
}


/* Media Querie MOBILE */


/* Media Querie Body-Header MOBILE*/

@media only screen and (max-width:576px) {
    body {
        background-position-y: 80px;
        background-size: 100%;
    }

/* Media Querie Index MOBILE*/

    .div_video {
        width: 95%;
    }
    .mainIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

/* Media Querie Bio MOBILE*/

    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;
        gap: 5%;
    }

/* Media Querie Singles MOBILE*/

    .coverSingles {
        flex-direction: column;
        align-items: center;
    }
    .singles {
        width: 90%;
    }

/* Media Querie Studio MOBILE*/

    .titulo_studio {
        display: none;
    }

/* Media Querie Contacto MOBILE*/

    .main_contacto {
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .form_contacto {
        
        height: auto;
    }

/* Media Querie Footer MOBILE*/

    footer {
        background-color: #0d0d0dd7;
        font-family: 'Quicksand', sans-serif;
        color: #F2561D;
        line-height: 30px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}


/* Media Querie TABLET */


/* Media Querie Body-Header TABLET*/

@media only screen and (min-width:577px) and (max-width:991px) {
    body {
        background-position-y: 60px;
    }

/* Media Querie Index TABLET */

    .div_video {
        width: 75%;
    }
    .mainIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

/* Media Querie Bio TABLET*/

    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 20%;
        gap: 10%;
    }

/* Media Querie Singles TABLET */

    .coverSingles {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
    }
    .singles {
        width: 50%;
        padding-bottom: 5%;
        padding-top: 5%;
    }

/* Media Querie Studio TABLET*/

    .titulo_studio {
        display: none;
    }

/* Media Querie Contacto TABLET */

/* Media Querie Footer TABLET */

    footer {
        background-color: #0d0d0dd7;
        font-family: 'Quicksand', sans-serif;
        color: #F2561D;
        line-height: 50px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}