*{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
}
/*CSS Header*/
header{
    background-color: #0d0d0dd7;
/*     position: sticky; */
/*     top: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-between; */
}
.navbar {
    max-height: 4rem;
}
@media only screen and (max-width: 576px){
    .navbar{
        max-height: initial;
    }
}
@media only screen and (min-width: 577px) and (max-width: 991px){
    .navbar{
        max-height: initial;
        width: 50%;
    }
    .imagen_logo {
        display: none;
    }
    .redes {
        margin-left: 4rem;
    }
}

ul{
    list-style: none;
/*     display: flex;
    flex-wrap: nowrap; */
    gap: 20px;
}
/* li{
    display: inline-block;
} */
.linkNav {
    color: #F2EFC4;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.3s ease 0s;
}
.linkNav:hover {
    color: #F2561D;
}

a{
    text-decoration: none;
}
.redes {
    display: flex;
    gap: 50px;
}
.redes i {
    color: #F2EFC4;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}

#logoYoutube:hover {
    color: #c4302b;
}
#logoSpotify:hover {
    color: #1DB954;
}
#logoInstagram:hover {
    color: #E1306C;
}
#logoFacebook:hover {
    color: #4267B2;
}

/*CSS Body*/
body {
    background-image:url(./img/cuartohacheback.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/*CSS Index*/

/* .body_index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "mainIndex mainIndex mainIndex mainIndex"
    "mainIndex mainIndex mainIndex mainIndex"
    "mainIndex mainIndex mainIndex mainIndex"
    "mainIndex mainIndex mainIndex mainIndex"
    "footer footer footer footer" ;
}
header {
    grid-area: header;
}
.mainIndex{
    grid-area: mainIndex;
}
footer {
    grid-area: footer;
} */

.mainIndex {
    display: flex;
    justify-content: center;
}

.div_video {
    margin-top: 150px;
    margin-bottom: 150px;
}
.div_video {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.div_video:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*CSS Bio*/

/* .body_bio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "main_bio main_bio main_bio main_bio"
    "main_bio main_bio main_bio main_bio"
    "main_bio main_bio main_bio main_bio"
    "main_bio main_bio main_bio main_bio"
    "footer footer footer footer" ;
}
header {
    grid-area: header;
}
.main_bio{
    grid-area: main_bio;
}
footer {
    grid-area: footer;
} */

.container {
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}
.border:hover {
    border: 1px solid white
}
.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card0 {
    background: url(./img/raiel_insta.jpg) center center no-repeat;
    background-size: 400px;
}
.card0:hover {
    background: url(./img/raiel_insta.jpg) top right no-repeat;
    background-size: 500px;
    }
.card0:hover h2 {
    opacity: 1;
}
.card0:hover .fa {
    opacity: 1;
}

.card1 {
    background: url(./img/paul_insta.jpg) center center no-repeat;
    background-size: 400px;
}
.card1:hover {
    background: url(./img/paul_insta.jpg) top left no-repeat;
    background-size: 500px;
}
.card1:hover h2 {
    opacity: 1;
}
.card1:hover .fa {
    opacity: 1;
}

.border h2 {
    color: #F2EFC4;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    cursor:default;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
    color: #F2EFC4;
    transition: all 1s ease 0s;
}

.fa:hover{
    text-shadow: 0.1em 0.1em 0.2em #F2EFC4;
}

.icons {
    position: absolute;
    fill: #F2EFC4;
    color: #F2EFC4;
    height: 130px;
    top: 226px;
    width: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*CSS Singles*/

/* .body_singles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "main_singles main_singles main_singles main_singles"
    "main_singles main_singles main_singles main_singles"
    "main_singles main_singles main_singles main_singles"
    "main_singles main_singles main_singles main_singles"
    "footer footer footer footer" ;
}
header {
    grid-area: header;
}
.main_singles{
    grid-area: main_singles;
}
footer {
    grid-area: footer;
} */

.coverSingles {
    display: flex;
    flex-direction:row;
    margin-top: 10%;
    margin-bottom: 10%;
}
.singles {
    width: 25%;
    transition: transform 0.3s;
}
.singles:hover {
    transform: scale(1.1,1.1);
    z-index: 100;
    box-shadow: 0 70px 63px -60px #000000;
}

/*CSS Studio*/

/* .body_studio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "main_studio main_studio main_studio main_studio"
    "main_studio main_studio main_studio main_studio"
    "main_studio main_studio main_studio main_studio"
    "main_studio main_studio main_studio main_studio"
    "footer footer footer footer" ;
}
header {
    grid-area: header;
}
.main_studio {
    grid-area: main_studio;
}
footer {
    grid-area: footer;
} */

.section_studio {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.titulo_studio { grid-area: 1 / 1 / 2 / 9; }
.nav_izq { grid-area: 2 / 2 / 9 / 3; }
.imagen_studio { grid-area: 2 / 3 / 9 / 7; }
.nav_der { grid-area: 2 / 7 / 9 / 8; }

.titulo_studio {
    display: flex;
    justify-content: center;
}
.titulo_studio h3 {
    font-size: 30px;
    display: flex;
    align-self: center;
}
.imagen_studio {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-x: scroll;
    object-fit:cover;
}

.imagen_studio::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.imagen_studio::-webkit-scrollbar-button {
    width: 0px;
    height: 14px;
}
.imagen_studio::-webkit-scrollbar-thumb {
    background: #f2efc4b7;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.imagen_studio::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}
.imagen_studio::-webkit-scrollbar-thumb:active {
    background: #f2efc491;
}
.imagen_studio::-webkit-scrollbar-track {
    background: #0d0d0d96;
    border: 0px none #ffffff;
    border-radius: 5px;
    width: 100%;
}
.imagen_studio::-webkit-scrollbar-track:hover {
    background: #6666665d;
}
.imagen_studio::-webkit-scrollbar-track:active {
    background: #0d0d0daf;
}
.imagen_studio::-webkit-scrollbar-corner {
    background: transparent;
}

.imagen_studio img {
    width: 100%;
    height: 100%;
}
.nav_izq {
    display: flex;
    justify-content: flex-end;
    background: rgb(242,86,29);
    background: linear-gradient(90deg, rgba(242,86,29,0) 0%, rgba(13,13,13,0.04525560224089631) 50%, rgba(13,13,13,0.5018382352941176) 100%);

}
.nav_izq a {
    display: flex;
    align-self: center;
    font-size: 40px;
    color: #F2EFC4;
}
.nav_der {
    display: flex;
    justify-content: flex-start;
    background: rgb(13,13,13);
    background: linear-gradient(90deg, rgba(13,13,13,0.5018382352941176) 0%, rgba(13,13,13,0.04525560224089631) 50%, rgba(242,86,29,0) 100%);
}
.nav_der a {
    display: flex;
    align-self: center;
    font-size: 40px;
    color: #F2EFC4;
}

.section_prod {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.titulo_prod { grid-area: 1 / 1 / 2 / 9; }
.imagen_heryx { grid-area: 2 / 2 / 6 / 4; }
.tracks_heryx { grid-area: 2 / 4 / 6 / 8; }
.imagen_shaman { grid-area: 6 / 2 / 10 / 4; }
.tracks_shaman { grid-area: 6 / 4 / 10 / 8; }

.titulo_prod {
    display: flex;
    justify-content: center;
}
.titulo_prod h3 {
    font-size: 30px;
    display: flex;
    align-self: center;
}
.imagen_heryx {
    object-fit: cover;
}
.imagen_heryx img {
    width: 100%;
}
.tracks_heryx {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.imagen_shaman {
    object-fit: cover;
}
.imagen_shaman img {
    width: 100%;
}
.tracks_shaman {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

/*CSS Contacto*/

/* .body_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "main_contacto main_contacto main_contacto main_contacto"
    "main_contacto main_contacto main_contacto main_contacto"
    "main_contacto main_contacto main_contacto main_contacto"
    "main_contacto main_contacto main_contacto main_contacto"
    "footer footer footer footer" ;
}
header {
    grid-area: header;
}
.main_contacto {
    grid-area: main_contacto;
}
footer {
    grid-area: footer;
} */

.section_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px
}
.form_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#0d0d0dd7;
    color: #F2EFC4;
    height: 300px;
    width: 500px;
}
textarea {
    width: 200px;
    height: 100px;
}
/*CSS Footer*/
footer {
    background-color: #0d0d0dd7;
    font-family: 'Quicksand', sans-serif;
    color: #F2561D;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
.textimp {
    font-weight: 600;
}

/* Media Querie MOBILE */

/* Media Querie Body-Header MOBILE*/

@media only screen and (max-width:576px) {
    body {
        background-position-y: 90px;
        background-size: 100%;
    }
    /*     body {
        background-position-y: 60px;
        background-size: 100%;
    }
    header {
        display: flex;
        flex-direction:column;
        z-index: 10;
    }

    header ul {
        display: flex;
        justify-content: space-around;
        margin-left: 17%;
        margin-right: 5%;
        gap: 10px;
        font-size: 20px;
    }

    .linkNav {
        line-height: 20px;
    }
    .redes {
        display: flex;
        justify-content: space-around;
        gap: 0px;
        margin-left: 10%;
        padding-top: 0px;
        width: 80%;
    }
    header img {
        display: none;
    } */   
/* Media Querie Index MOBILE*/

    .div_video {
        width: 95%;
    }
    .mainIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

/* Media Querie Bio MOBILE*/

    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;
        gap: 5%;
    }

/* Media Querie Singles MOBILE*/

    .coverSingles {
        flex-direction: column;
        align-items: center;
    }
    .singles {
        width: 90%;
    }

/* Media Querie Studio MOBILE*/

    .section_studio {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .titulo_studio { grid-area: 1 / 1 / 2 / 5; }
    .nav_izq { grid-area: 2 / 1 / 7 / 2; }
    .imagen_studio { grid-area: 2 / 2 / 7 / 6; }
    .nav_der { grid-area: 2 / 6 / 7 / 7; }

    .titulo_studio {
        display: none;
    }
    .section_prod {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .nav_izq p {
        font-size: 20px;
    }
    .nav_der p {
        font-size: 20px;
    }

    .titulo_prod { grid-area: 1 / 2 / 2 / 4; }
    .imagen_heryx { grid-area: 2 / 1 / 4 / 5; }
    .tracks_heryx { grid-area: 4 / 1 / 5 / 5; }
    .imagen_shaman { grid-area: 5 / 1 / 7 / 5; }
    .tracks_shaman { grid-area: 7/ 1 / 8 / 5; }

    .tracks_heryx {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 0px;
        padding: 0px;
    }
    .tracks_shaman {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }

/* Media Querie Contacto MOBILE*/

    .form_contacto {
        height: 70%;
        width: 100%;
        font-size: 20px;
    }

/* Media Querie Footer MOBILE*/

    footer {
        background-color: #0d0d0dd7;
        font-family: 'Quicksand', sans-serif;
        color: #F2561D;
        line-height: 30px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}

/* Media Querie TABLET */

/* Media Querie Body-Header TABLET*/

@media only screen and (min-width:577px) and (max-width:991px) {
    body {
        background-position-y: 60px;
    }
/*     header {
        display: flex;
        flex-direction:row;
    }
    
    header ul {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
        margin-right: 0%;
        gap: 10px;
        font-size: 20px;
    }
    
    .linkNav {
        line-height: 60px;
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10%;
        margin-left: 0px;
        padding-top: 0px;
        width: 40%;
        font-size: 10px;
    }
    header img {
        display: none;
    } */

/* Media Querie Index TABLET */

    .div_video {
        width: 75%;
    }
    .mainIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

/* Media Querie Bio TABLET*/

    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 20%;
        gap: 10%;
    }

/* Media Querie Singles TABLET */

    .coverSingles {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
    }
    .singles {
        width: 50%;
        padding-bottom: 5%;
        padding-top: 5%;
    }

/* Media Querie Studio TABLET*/

    .section_studio {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .titulo_studio { grid-area: 1 / 1 / 2 / 5; }
    .nav_izq { grid-area: 2 / 1 / 7 / 2; }
    .imagen_studio { grid-area: 2 / 2 / 9 / 8; }
    .nav_der { grid-area: 2 / 8 / 9 / 9; }
    
    .titulo_studio {
        display: none;
    }
    .section_prod {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .nav_izq p {
        font-size: 20px;
    }
    .nav_der p {
        font-size: 20px;
    }
    
    .titulo_prod { grid-area: 1 / 2 / 2 / 6; }
    .imagen_heryx { grid-area: 2 / 1 / 4 / 4; }
    .tracks_heryx { grid-area: 2 / 4 / 6 / 8; }
    .imagen_shaman { grid-area: 4 / 1 / 6 / 4; }
    .tracks_shaman { grid-area: 4/ 4 / 6 / 8; }
    
    .tracks_heryx {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 3%;
        padding: 0px;
    }

    .tracks_shaman {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }

/* Media Querie Contacto TABLET */

    .form_contacto {
        height: 70%;
        width: 90%;
        font-size: 20px;
    }

/* Media Querie Footer TABLET */

    footer {
        background-color: #0d0d0dd7;
        font-family: 'Quicksand', sans-serif;
        color: #F2561D;
        line-height: 30px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}