footer{
    background-color: $back_color;
    font-family: 'Quicksand', sans-serif;
    color: $main_color;
    line-height: 50px;
    display: flex;
    justify-content: center;
    .textimp {
        font-weight: 600;
    }
}

@include mediaQuery_mobile {
    footer {
        background-color: $back_color;
        font-family: 'Quicksand', sans-serif;
        color: $main_color;
        line-height: 30px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}

@include mediaQuery_tablet {
    footer {
        background-color: $back_color;
        font-family: 'Quicksand', sans-serif;
        color: $main_color;
        line-height: 50px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }
    .textimp {
        font-weight: 600;
    }
}