*{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

body {
    background-image:url(../img/cuartohacheback.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

@include mediaQuery_mobile {
    body {
        background-position-y: 80px;
        background-size: 100%;
    }
}

@include mediaQuery_tablet {
    body {
        background-position-y: 60px;
    }
}