*{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

body {
    background:url(../img/cuartohacheback.jpg), linear-gradient(#F2EFC4,#F2561D,#0d0d0d);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

@include mediaQuery_mobile {
    body {
        background-position-y: 80px;
        background-size: 100%;
    }
}

@include mediaQuery_tablet {
    body {
        background-position-y: 60px;
    }
}