header{
    background-color: $back_color;
    .navbar {
        max-height: 4rem;
            ul{
                list-style: none;
                gap: 20px;
                .linkNav {
                    color: $light_color;
                    font-family: 'Quicksand', sans-serif;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        color: $main_color;
                    }
                }
            }
        .redes {
            display: flex;
            gap: 50px;
            i {
                color: $light_color;
                font-size: 30px;
                transition: all 0.3s ease 0s;
            }
            @each $social_logo, $color in $social_media {
                #logo#{$social_logo}:hover{
                    color: $color
                }
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .navbar{
        max-height:initial !important;
        .collapse:not(.show) {
            display: none;
        }
    }
}

@media only screen and (min-width: 577px) and (max-width: 991px){
    .navbar{
        max-height: initial;
        width: 50%;
        .collapse:not(.show) {
            display: none;
        }
        .imagen_logo {
            display: none;
        }
        .redes {
            margin-left: 4rem;
        }
    }
}