/* Variables */

$main_color: #F2561D;
$light_color: #F2EFC4;
$back_color: #0d0d0dd7;

/* Maps */

$social_media: (
    Youtube:#c4302b,
    Spotify:#1DB954,
    Instagram:#E1306C,
    Facebook:#4267B2,
);