/* Variables */

$main_color: #F2561D;
$light_color: #F2EFC4;
$back_color: #0d0d0dd7;

/* Maps */

$social_media: (
    Youtube:#c4302b,
    Spotify:#1DB954,
    Instagram:#E1306C,
    Facebook:#4267B2,
);

/* Extends */

%flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
};

%flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
};

/* Mixin */

@mixin mediaQuery_mobile {
    @media only screen and (max-width:576px) {
        @content
    }
};

@mixin mediaQuery_tablet {
    @media only screen and (min-width:577px) and (max-width:991px) {
        @content
    }
};
