.container {
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    .card {
        height: 379px;
        width: 300px;
        background: grey;
        border-radius: 10px;
        transition: background 0.8s;
        overflow: hidden;
        background: black;
        box-shadow: 0 70px 63px -60px #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .border_card {
            height: 369px;
            width: 290px;
            background: transparent;
            border-radius: 10px;
            transition: border 1s;
            position: relative;
            &:hover {
                border: 1px solid white
            }
            h2 {
                color: $light_color;
                font-family: 'Quicksand', sans-serif;
                font-size: 1.5rem;
                text-shadow: 0.1em 0.1em 0.2em black;
                margin: 20px;
                opacity: 0;
                transition: opacity 1s;
                cursor:default;
            }
            .fa {
                opacity: 0;
                transition: opacity 1s;
                color: $light_color;
                transition: all 1s ease 0s;
                &:hover{
                    text-shadow: 0.1em 0.1em 0.2em $light_color;
                }
            }
            .icons {
                position: absolute;
                fill: $light_color;
                color: $light_color;
                height: 130px;
                top: 226px;
                width: 50px;
                text-shadow: 0.1em 0.1em 0.2em black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
    .card0 {
        background: url(../img/raiel_insta.jpg) center center no-repeat;
        background-size: 400px;
        &:hover {
            background: url(../img/raiel_insta.jpg) top right no-repeat;
            background-size: 500px;
            h2 {
                opacity: 1;
            }
            .fa {
                opacity: 1;
            }
        }
    }
    .card1 {
        background: url(../img/paul_insta.jpg) center center no-repeat;
        background-size: 400px;
        &:hover {
            background: url(../img/paul_insta.jpg) top left no-repeat;
            background-size: 500px;
            h2 {
                opacity: 1;
            }
            .fa {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;
        gap: 5%;
    }
}

@media only screen and (min-width:577px) and (max-width:991px) {
    .container {
        height: 100%;
        width: 80%;
        max-height: 80%;
        max-width: 80%;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 20%;
        gap: 10%;
    }
}