.sectionIndex {
    display: flex;
    justify-content: center;
    .div_video {
        margin-top: 300px;
        margin-bottom: 25px;
        --borderWidth: 3px;
        background: #1D1F20;
        position: relative;
        border-radius: var(--borderWidth);
        &:after {
            content: '';
            position: absolute;
            top: calc(-1 * var(--borderWidth));
            left: calc(-1 * var(--borderWidth));
            height: calc(100% + var(--borderWidth) * 2);
            width: calc(100% + var(--borderWidth) * 2);
            background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
            border-radius: calc(2 * var(--borderWidth));
            z-index: -1;
            animation: animatedgradient 3s ease alternate infinite;
            background-size: 300% 300%;
        }
    }
}
.news_title {
    display: flex;
    justify-content: center;
    margin: 3rem;
    transform: translate3d(0, 0, 0);
    backdrop-filter: saturate(180%) blur(40px);
    background-color: rgba(255, 255, 255, 0.096);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    h2 {
        color: $light_color;
        font-family: 'Quicksand', sans-serif;
        text-shadow: 0.1em 0.1em 0.2em black;
        cursor: default;
    }
}

.section_news {
    height: 45rem;
    .article_news {
        width: 100%;
        :hover {
            cursor: pointer;
        }
        overflow: hidden;
        .card {
            height:20rem;
            img {
                max-height: 100%;
                object-fit: cover;
            }
            h5 {
                text-shadow: 0.1em 0.1em 0.2em black;
            }
            p {
                text-shadow: 0.1em 0.1em 0.2em black;
            }
        }
    }
    .article_news2 {
        width: 100%;
        :hover {
            cursor: pointer;
        }
        overflow: hidden;
        .card {
            height: 20rem;
            img {
                max-height: 100%;
                object-fit: cover;
            }
            h5 {
                text-shadow: 0.1em 0.1em 0.2em black;
            }
            p {
                text-shadow: 0.1em 0.1em 0.2em black;
            }
        }
    }
}

.modal-glass {
    transform: translate3d(0, 0, 0);
    backdrop-filter: saturate(180%) blur(40px);
    background-color: rgba(255, 255, 255, 0.096);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    .modal-header {
        border: none;
    }
    .modal-body {
        width: 100%;
        .carousel {
            width: fit-content;
        }
        iframe {
            background-color: whitesmoke;
        }
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@include mediaQuery_mobile {
    .div_video {
        width: 95%;
    }
    .sectionIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .section_news {
        height: 35rem;
        .article_news{
            width: 100%;
            .card {
                height: fit-content;
                .texto_ph {
                    font-weight: bolder;
                }
            }
        }
        .article_news2{
            width: 100%;
            .card {
                height: fit-content;
                height: 14.5rem;
                img {
                    height: 14.5rem;
                }
                .texto_nota{
                    font-weight: bolder;
                    background:linear-gradient(90deg,$back_color, rgba(0, 0, 0, 0));
                }
            }
        }
    }
}

@include mediaQuery_tablet {
    .div_video {
        width: 75%;
    }
    .sectionIndex iframe {
        width:100%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .section_news {
        .article_news .card {
            height: fit-content;
            .texto_ph {
                font-weight: bolder;
            }
        }
        .article_news2 { 
            height: 20rem;
            .card {
                height: fit-content;
                img {
                    height: 20rem;
                }
                .texto_nota{
                    font-weight: bolder;
                    background:linear-gradient(90deg,$back_color,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                }
            }
        }
    }
}