.coverSingles {
    display: flex;
    flex-direction:row;
    margin-top: 10%;
    margin-bottom: 10%;
    .singles {
        width: 25%;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.1,1.1);
            z-index: 100;
            box-shadow: 0 70px 63px -60px #000000;
        }
        .popover0 {
            background-color: #f946ff83;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            z-index: 200;
            font-family: 'Quicksand', sans-serif;
            text-shadow: 0.1em 0.1em 0.1em $light_color;
        }
        .popover1 {
            background-color: #04027491;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            z-index: 200;
            font-family: 'Quicksand', sans-serif;
            text-shadow: 0.1em 0.1em 0.1em $light_color;
        }
        .popover2 {
            background-color: #af690085;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            z-index: 200;
            font-family: 'Quicksand', sans-serif;
            text-shadow: 0.1em 0.1em 0.1em $light_color;
        }
        .popover3 {
            background-color: #00bb098f;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            z-index: 200;
            font-family: 'Quicksand', sans-serif;
            text-shadow: 0.1em 0.1em 0.1em $light_color;
        }
    }
}

@include mediaQuery_mobile {
    .coverSingles {
        flex-direction: column;
        align-items: center;
        .singles {
            width: 90%;
        }
    }
}

@include mediaQuery_tablet {
    .coverSingles {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        .singles {
            width: 50%;
            padding-bottom: 5%;
            padding-top: 5%;
        }
    }
}