.carousel {
    width: 50rem;
    margin-top: 2rem;
    .carousel-inner {
        img {
            margin: auto;
        }
        .carousel-item {
            img {
                height: 80vh;
                object-fit: cover;
            }
        }
    }
    
}

.titulo_prod {
    display: flex;
    justify-content: center;
    margin: 3rem;
    transform: translate3d(0, 0, 0);
    backdrop-filter: saturate(180%) blur(40px);
    background-color: rgba(255, 255, 255, 0.096);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    h3 {
        color:#F2EFC4;
        font-family: 'Quicksand', sans-serif;
        text-shadow: 0.1em 0.1em 0.2em black;
        cursor: default;
    }
}

.section_prod {
    margin-left: 3rem;
    margin-right: 3rem;
    .imagen_herix {
        object-fit: cover;
    }
    .imagen_shaman {
        object-fit: cover;
    }
}

@include mediaQuery_mobile {
    .section_studio {
        display: flex;
        justify-content: center;
        .carousel {
            width: 25rem;
            .carousel-inner .carousel-item img {
                height: 50vh;
                object-fit: cover;
            }
        }
    }
}

@include mediaQuery_tablet {
    .section_prod{
        img {
            height: 100%;
            object-fit: cover;
            /* border: blue solid 5px; */
        }
    }
}